<style>
heml {
    hight: 100%
}

body {
    background-color: #eaf6f6;
}

hr {
    background-color: none;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

</style>