body {
    background-color: black;
}

img {
    border: 5px solid white;
    width: 100%;
    margin-top: 100px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

p {
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

div {
    width: 50%;
    margin-left: 25%;}